##  **Python Basics**

**print statement**

In [ ]:
# string values is in "" ''  and """""" for multiline print sentences
print("hello")
print(''' hello
                       world ''')
print( 123456)

hello
 hello
                       world
123456

In [ ]:
print ('it's going to rain today')

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-45-df071f3ba262>, line 1)

In [ ]:
print ('it\'s going to rain today')

it's going to rain today

In [ ]:
print ("it's going to rain today")

it's going to rain today

**comments**

In [ ]:
#  in this page i will see two numbers
# single line comment
''' doulple line and
multiple
lines
comments'''

' doulple line and \nmultiple \nlines\ncomments'

**variables **

In [ ]:
# placeholder
# case sensitive
# make shorw no space  * even number *.. can use _ under score  even_number
# can not  be start with number 12334 but can be * num1 num_2 * and special number @%$
a=12
print(a)

12

In [ ]:
a="hello"
print(a)

hello

**Data types and user input**

In [ ]:
# user input
name =input ("enter your name : ")
print(name)

enter your namejon
jon

In [ ]:
age =int(input ("enter your age : "))
print(age)

enter your age19
19

In [ ]:
# string
# default enter value in string
# floating poits 0.234, 23.5 if the user can gives value in decimal

In [ ]:
lenght =float(input ("enter your lenght"))
print(lenght)

enter your lenght12.345
12.345

In [ ]:
ep1=eval(input("enter your ep1 "))
print(ep1)

enter your ep1 4+5
9

In [ ]:
ep1=eval(input("enter your ep1 "))
print(ep1)

enter your ep1 print("hello")
hello
None

**typecastig and subtypes**

In [ ]:
# conversion of one datatype to another is called type-casting

In [ ]:
name="jon"
print (type(name))

<class 'str'>

In [ ]:
# Implicit type casting convertion : where python itself converts one datatype to another
# Explicit type casting convertion : where the user converts one data to another

In [ ]:
# Implicit
a=123
b=1.234
print(type(a)) # int
print(type(b)) # float
c=a+b
print(c)
print(type(c)) # float

<class 'int'>
<class 'float'>
124.234
<class 'float'>

In [ ]:
a="123" # throw an error so we use explicit typecasting in it
b=1.234
print(type(a)) # int
print(type(b)) # float
c=a+b
print(c)
print(type(c)) # float

<class 'str'>
<class 'float'>

TypeError: can only concatenate str (not "float") to str

In [ ]:
a="1245"
b=1.234
print(type(a)) # string
print(type(b)) # float
a=int(a)
print("After convertion a is ",type(a))
c=a+b
print(c)
print(type(c)) # float

**operators and operands**

In [ ]:
# operators
# + - * / % // **
# // floor division
# ** power

In [2]:
# Arithmetic operator
a=4
b=2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b) # without point value
print(a**b)

6
2
8
2.0
0
2
16

In [3]:
# comparison operators
print (a==b)
print (a!=b)
print (a>b)
print (a<b)
print (a>=b)
print (a<=b)

False
True
True
False
True
False

In [7]:
# logical operators
print(a==b and a>b)
print(3==3 and 8>7)
print(a==b or a>b)
print(not a==b)
print (not (3==3 and 8>7))

False
True
True
True
False

In [9]:
# Assignmet operators
# for asign value
score=0
score=score+1
print(score)
score+=1
print(score)
score-=1
print(score)
score*=2
print(score)
score/=2
print(score)
score%=2
print(score)

1
2
1
2
1.0
1.0

In [ ]:
# Identity Operators
# types of identity operators
# is
# is not

In [10]:
a=123 # int
b="123" #string
print(a is b)
print(a is not b)

False
True

In [11]:
a=123
b=123
print(a is b)
print(a is not b)

True
False

In [ ]:
# bitwise operators
# 0 1  off on
# << >> & | ^ ~

In [13]:
print(bin(10))
print(bin(15))

0b1010
0b1111

In [17]:
a=10
b=8
print(a&b) # AND
print(a|b) # OR
print(a^b) # XOR
print(~a)
print(a<<2) # zero fill right shift --- add vlues  in right
print(a>>1)# zero fill  left shift  -- cut value form right and add values in left

8
10
2
-11
40
5

In [18]:
# membership operators
# check the presence of a value in a sequence
# in
# not in
a="helllo"
print("h" in a)
print("h" not in a)

True
False

**conditional statements**

In [19]:
# if statement
a=10
if a>3:
  print("a is greater than 3")

a is greater than 3

In [23]:
marks =87
if marks >=90:
  print("you will get phone grade")

print("thankyou for joining")

thankyou for joining

In [24]:
marks=87
if marks >=90:
  print("you will get phone grade")
else: # no condition with else
  print("you will not get phone grade")

print("thankyou for joining")

you will not get phone grade
thankyou for joining

In [20]:
# if - elif - else
marks =87
if marks >=90:
  print("you will get A grade")
elif marks >=80:
  print("you will get B grade")
elif marks >=70:
  print("you will get C grade")
elif marks >=60:
  print("you will get D grade")
else:
  print("fail")

you will get B grade

In [ ]:
# nested if

In [25]:
if marks>=80:
  print("you will get a new phone ")
  if marks >=90:
    print("you can go to a trip ")
else :
  print ("you will not get a nothing ")

you will get a new phone

In [28]:
# short hand if statement
marks=87
if marks>=80: print("you will get a new phone ")
# short hand if else statement
print("you will get a new phone ") if marks>=80 else print("you will not get a nothing ") # no colon in it

you will get a new phone
you will get a new phone

# *problem solving*

**write a program to display a person's name,age and address in three different lines**

In [ ]:
name="jon"
age =21
address="london"
print(name)
print(age)
print(address)

jon
21
london

**write a profram to swap two variables**

In [ ]:
a=2
b=3
# method b temperory variable temp
temp=a
a=b
b=temp
print("value of a : ",a)
print( "value of b : ",b)
# method 2
a=30
b=40
a,b=b,a
print("value of a : ",a)
print( "value of b : ",b)

value of a :  3
value of b :  2
value of a :  40
value of b :  30

**write a program to convert a float into integer**

In [ ]:
x=122.4
print(type(x))
x=int(x)
print(type(x))
print(x)

<class 'float'>
<class 'int'>
122

**write a program to take details from a student for ID-card and then print in different lines**

In [ ]:
print ("student identity card ")
name =input ("enter your name :")
age =int(input ("enter your age :"))
address=input("enter your address :")
email=input("enter your email :")
print("name : ",name)
print("age : ",age)
print("address : ",address)
print("email : ",email)

student identity card
enter your name :jon
enter your age :20
enter your address :qwertshe
enter your email :jon@gamil.com
name :  jon
age :  20
address :  qwertshe
email :  jon@gamil.com

**write a program to take an user input as integer then convert to float**

In [ ]:
a=int(input("enter a number :"))
print(type(a))
a=float(a)
print(type(a))
print(a)

enter a number :12
<class 'int'>
<class 'float'>
12.0

<!-- place holders -->

**write a program to check if a number is positive**

In [3]:
num=int(input("enter a number :"))
if num>0:
  print("number is positive")
else:
  print("number is negative")

enter a number :-21
number is negative

**write a program to check whether a number is odd and even**

In [5]:
num=int(input("enter a number :"))
if num%2==0:
  print("number is even")
else:
  print("number is odd")

enter a number :3
number is odd

**write a program to create area calculator**

In [6]:
print("++++ AREA CALCULATOR ++++++")
print("press 1 for area of circle")
print("press 2 for area of rectangle")
print("press 3 for area of triangle")
choice=int(input("enter your choice :"))
if choice==1:
  radius=float(input("enter radius :"))
  area=3.14*radius*radius
  print("area of circle is : ",area)
  print("thank you for using area calculator")

elif choice==2:
  length=float(input("enter length :"))
  breadth=float(input("enter breadth :"))
  area=length*breadth
  print("area of rectangle is : ",area)
  print("thank you for using area calculator")

elif choice==3:
  base=float(input("enter base :"))
  height=float(input("enter height :"))
  area=0.5*base*height
  print("area of triangle is : ",area)
else :
  print("invalid choice")

++++ AREA CALCULATOR ++++++
press 1 for area of circle
press 2 for area of rectangle
press 3 for area of triangle
enter your choice :1
enter radius :2
area of circle is :  12.56
thank you for using area calculator

**write a program check whether the passed letter is a vowel or not**

In [ ]:

if (letter in "aeiou") or (letter in "AEIOU") :
  print("letter is vowel")
else:
  print("letter is not vowel")

**write a program to check if a number is a single digit number , 2 digit number and so on ..., up to 5 digit**

In [8]:
num =int (input("enter a number :"))
if num<10:
  print("single digit number")
elif num<100:
  print("two digit number")
elif num<1000:
  print("three digit number")

enter a number :10
two digit number